<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CatMash</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <a href="@Url.Action("Index", "Home")">
            <div class="brand">
                <img src="~/images/cat.png" alt="Logo" />
                <span>CatMash</span>
            </div>
        </a>
    </header>
    @RenderBody()
    <footer>
        Made by
        <a href="https://github.com/Vito12345/CatMash" target="_blank" title="Le lien vers Github ouvrira une nouvelle fenêtre">
            <i class="fab fa-github"></i>
            Vito12345
            <i class="fas fa-sm fa-external-link-alt"></i>
        </a>
    </footer>

    <environment include="Development">
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <!-- production version, optimized for size and speed -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
