@{
    ViewData["Title"] = "Votez pour le chat le plus mignon";
}

<section class="choice">
    <article class="left">
        <svg class="heart" width="250" height="250" viewBox="0 0 492.719 492.719">
            <defs>
                <clipPath id="heartView">
                    <path d="M492.719,166.008c0-73.486-59.573-133.056-133.059-133.056c-47.985,0-89.891,25.484-113.302,63.569    c-23.408-38.085-65.332-63.569-113.316-63.569C59.556,32.952,0,92.522,0,166.008c0,40.009,17.729,75.803,45.671,100.178    l188.545,188.553c3.22,3.22,7.587,5.029,12.142,5.029c4.555,0,8.922-1.809,12.142-5.029l188.545-188.553    C474.988,241.811,492.719,206.017,492.719,166.008z" fill="#D80027" />
                </clipPath>
            </defs>
            <image width="500" height="500" xlink:href="http://24.media.tumblr.com/tumblr_m82woaL5AD1rro1o5o1_1280.jpg" clip-path="url(#heartView)" />
        </svg>
    </article>
    <article class="right">
        <svg class="heart" width="250" height="250" viewBox="0 0 492.719 492.719">
            <defs>
                <clipPath id="heartView">
                    <path d="M492.719,166.008c0-73.486-59.573-133.056-133.059-133.056c-47.985,0-89.891,25.484-113.302,63.569    c-23.408-38.085-65.332-63.569-113.316-63.569C59.556,32.952,0,92.522,0,166.008c0,40.009,17.729,75.803,45.671,100.178    l188.545,188.553c3.22,3.22,7.587,5.029,12.142,5.029c4.555,0,8.922-1.809,12.142-5.029l188.545-188.553    C474.988,241.811,492.719,206.017,492.719,166.008z" fill="#D80027" />
                </clipPath>
            </defs>
            <image width="500" height="500" xlink:href="http://24.media.tumblr.com/tumblr_m29a9d62C81r2rj8po1_500.jpg" clip-path="url(#heartView)" />
        </svg>
    </article>
</section>
