@{
    ViewData["Title"] = "Votez pour le chat le plus mignon";
}

<h1>Votez pour le chat le plus mignon</h1>
<div class="page" id="choice">
    <section class="choice">
        <article v-for="cat in cats" :key="cat.id" v-on:click="voteCat(cat.id)">
            <div class="image-wrapper">
                <img v-bind:src="cat.url" v-bind:alt="cat.id" />
            </div>
            <footer>Miaulez pour moi ! <i class="fas fa-cat"></i></footer>
        </article>
    </section>
    <div class="wait" v-if="ajaxRequest">
        <div class="text">
            Veuillez miauler 2 secondes
        </div>
        <i class="fas fa-spinner spinner"></i>
    </div>
</div>
<div class="viewVotes">
    <a href="@Url.Action("Scores", "Home")">Voir les votes</a>
</div>

@section Scripts{
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#choice',
            data: { cats: null, ajaxRequest: false },
            mounted: function () {
                this.ajaxRequest = true;
                axios.get('@Url.Action("GetRandomCats", "Home")')
                    .then(response => {
                        this.cats = response.data;
                        this.ajaxRequest = false;
                    }).catch((err) => {
                        console.log(err);
                    });
            },
            methods: {
                voteCat: function (catId) {
                    console.log(catId);
                    this.ajaxRequest = true;
                    axios.post('@Url.Action("Vote", "Home")', { CatId: catId })
                        .then(response => {
                            this.cats = response.data;
                            this.ajaxRequest = false;
                        }).catch((err) => {
                            console.log(err);
                        });
                    @*this.$http.post('@Url.Action("Vote", "Home")', { catId: this.Id }, function (data, status, request) {
                        this.cats = data;
                        this.ajaxRequest = false;
                    });*@
                }
            }
        });
    </script>
}
